//color schemes
//1
$styleNumber: '';
$colorMain: #27D2A3;
$colorMain2: #D95050;
$colorMain3: #FDE344;
$colorMain4: #46A7DD;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;
