//color schemes
//2
$styleNumber: '2';
$colorMain: #FDE344;
$colorMain2: #46A7DD;
$colorMain3: #27D2A3;
$colorMain4: #D95050;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;
