//color schemes
//3
$styleNumber: '3';
$colorMain: #46A7DD;
$colorMain2: #27D2A3;
$colorMain3: #D95050;
$colorMain4: #FDE344;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;
